.navbar-default {
    background-color: #2ecc71;
    border-color: #27ae60; 
}

.navbar-default .navbar-brand {
    color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}

.btn-primary{

background-color: green;

color: white;

}
